spring:
  datasource:
    url: jdbc:h2:mem:usersdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: admin
    password: admin
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  jwt:
    secret: ${JWT_SECRET:defaultSecretKeyOnlyForDevPleaseChangeInProduction}
    expiration: ${JWT_EXPIRATION:86400000}

  logging:
    level:
      com.backend: DEBUG
      org.springframework.security: INFO
      org.springframework.security.config.annotation.authentication.configuration: ERROR

  springdoc:
    api-docs:
      enabled: true
    swagger-ui:
      enabled: true
      path: /swagger-ui.html